.opencode
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.pytest_cache/
.coverage
htmlcov/
*.log
.env
.venv
env/
venv/
data/*.json
!data/__init__.py
data/*.db
data/*.db.backup
log/

# ТЗ и документация
Техническое_задание*.pdf
Техническое_задание_2.md
Doclad.MD
ReadmeV2.md